.avatar {
    width:100%;
    margin:10px;
}

.btn-profile {
    margin:10px
}

.bg {
    width: 100%;
    height: 220%; 
    background: linear-gradient(90deg, rgb(10, 13, 33) 5%, rgb(30, 37, 91) 60%)
}

.text {
    color:white;
    font-family: Forum;
}

.menu {
    background: linear-gradient(-60deg, #ADD8E6 30%, black 30%), transparent 0;
    background-repeat:no-repeat;
    min-height: 100%;
    min-width: 1024px;
  
    width: 100%;
    height: auto;
}

@font-face {
    font-family: 'Forum';
    src: local('Forum'), url(.assets/fonts/Forum-Regular.ttf) format('opentype');
  }